<!DOCTYPE html>
<html>
    <head>
        <title> View Data </title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/client/css/view-data.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src='/client/js/view-data.js' async></script>
        <script src="/client/js/config.js"> </script>
    </head>

    <body data-ng-app="viewReviewsApp" data-ng-controller="viewReviewsCtrl" data-ng-init="hideForm = true;">
      <div class="links">
        <a href="/home">Home</a>
        <a href="/write-data">Leave a Review</a>
        <a href="/view-data">See Reviews</a>
        <a href="/browse-data">Search Reviews</a>
    </div>
        
        <div class="container">
            <h1> View Data</h1>
      </div>

      <div class="reviewContainer">
        <section data-ng-hide="hideTable">
          <div style="margin-left: 70px;">
            <label for="groupby">Name:</label>
            <select id="groupby"
              data-ng-model="selectedType"
              data-ng-options="name.display for name in names"
              data-ng-change="redrawTable()"
              >
                
            </select>
          </div>
    

        <div style="margin: 30px;">
          <table>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Review</th>
              <th>Suggestions</th>
              <th>Location</th>
              <th>Delete</th>
            </tr>
  
            <tr data-ng-repeat="obj in reviews">
              <td>{{ obj.name }}</td>
              <td>{{ obj.description }}</td>
              <td>{{ obj.rating }}</td>
              <td>{{ obj.suggestion }}</td>
              <td>{{ obj.location }}</td>
              <td>
                <button data-ng-click="deleteReview(obj['_id'])">DELETE</button>
              </td>
              <td>
                <button data-ng-click="editReview($index)">EDIT</button>
              </td>
            </tr>
          </table>
        </div>
      </section>

      <section data-ng-hide="hideForm">
        <div style="font-size: 30px">
          <label data-ng-model="spellID" hidden></label>
  
          <div>
            <label for="name">Name: </label>
            <input type="text" id="name" data-ng-model="name" data-ng-change=startNew()>
          </div>
          <div>
            <label for="description">Description: </label>
            <input type="text" id="description" data-ng-model="description" data-ng-change=startNew()>
          </div>
          <div>
            <label for="rating">Rating: </label>
            <input type="text" id="rating" data-ng-model="rating" data-ng-change=startNew()>
          </div>
          <div>
            <label for="suggestion">Suggestion: </label>
            <input type="text" id="suggestion" data-ng-model="suggestion" data-ng-change=startNew()>
          </div>
          <div>
            <label for="location">Location: </label>
            <input type="text" id="location" data-ng-model="location" data-ng-change=startNew()>
          </div>
    
          <div style=" float: left; clear: right; margin-top: 30px; margin-left: 30px">
            <button id="submit" data-ng-click="updateReview()">Update</button>
          </div>
  
          <div style=" float: left; clear: right; margin-top: 30px; margin-left: 30px">
            <button id="cancel" data-ng-click="cancelUpdate()">Cancel</button>
          </div>
    
          <div style="float: left; clear: left; margin-top: 20px; font-size: 24px; color: green;">
            {{addResults}}
          </div>
        </div>
      </section>


        <!-- <table class="table">
          <colgroup>
            <col class='col-xs-3'>
          </colgroup>
          <thead>
            <tr>
              <th >Name</th>
              <th>Description</th>
              <th>Review</th>
              <th>Suggestions</th>
              <th>Location</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id='reviewTable' [innerHtml]="htmlStr"></tbody>
        </table>
      </div> -->

    </body>
</html>