<!DOCTYPE html>
<html>
    <head>
        <title> View Data </title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/client/css/view-data.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src='/client/js/view-data.js' async></script>
        <script src="/client/js/config.js"> </script>
    </head>

    <body data-ng-app="viewReviewsApp" data-ng-controller="viewReviewsCtrl">
      <div class="links">
        <a href="/home">Home</a>
        <a href="/write-data">Leave a Review</a>
        <a href="/view-data">See Reviews</a>
        <a href="/browse-data">Search Reviews</a>
    </div>
        
        <div class="container">
            <h1> View Data</h1>
      </div>

      <div class="reviewContainer">

        <div style="margin: 30px;">
          <table>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Review</th>
              <th>Suggestions</th>
              <th>Location</th>
              <th>Delete</th>
            </tr>
  
            <tr data-ng-repeat="obj in reviews">
              <td>{{ obj.name }}</td>
              <td>{{ obj.description }}</td>
              <td>{{ obj.rating }}</td>
              <td>{{ obj.suggestion }}</td>
              <td>{{ obj.location }}</td>
              <td>
                <button data-ng-click="deleteReview(obj['_id'])">DELETE</button>
              </td>
              <td>
                <button data-ng-click="editReview($index)">EDIT</button>
              </td>
            </tr>
          </table>
        </div>


        <!-- <table class="table">
          <colgroup>
            <col class='col-xs-3'>
          </colgroup>
          <thead>
            <tr>
              <th >Name</th>
              <th>Description</th>
              <th>Review</th>
              <th>Suggestions</th>
              <th>Location</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id='reviewTable' [innerHtml]="htmlStr"></tbody>
        </table>
      </div> -->

    </body>
</html>